<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Camp-History</title>
  <link rel="stylesheet" href="donor.css">
</head>
<body>

  <nav>
    <h1>HEISEI</h1>
    <div id="nav-part2">
      <a href="camphome.html"><h3>Home</h3></a>
      <a href="camplist.html"><h3>Stock</h3></a>
      <a href="campvollist.html"><h3>Supply</h3></a>
      <a href="campinfo.html"  ><h3>Info</h3></a>
      <a href="camphistory.html" class="active"><h3>History</h3></a>
      <a href="login.html"><h3>LogOut</h3></a>
      <h2><%= username %> </h2>
    </div>
    <script>
      // Get the token from the URL
      const urlParams = new URLSearchParams(window.location.search);
      const token = urlParams.get('token');
      // Update all hyperlinks dynamically
      document.querySelectorAll('a').forEach(link => {
          const href = link.getAttribute('href');
          if (href && token) {
              link.setAttribute('href', `${href}?token=${token}`);
          }
      });
    </script>
  </nav>


  <div id="page1">

    <h1>Requested</h1>

    <% if (campReq && campReq.length) { %>
      <table style="font-size: 1.6em;">
        <thead>
          <tr style="color:black;">
            <th style="background-color: #ddd; padding: 5px;">commodity</th>
            <th style="background-color: #ddd; padding: 5px;">quantity</th>
            <th style="background-color: #ddd; padding: 5px;">date</th>
            <th style="background-color: #ddd; padding: 5px;">within days</th>
          </tr>
        </thead>
        <tbody>
          <% for (const item of campReq) { %>
          <tr class="stock-row" style="color: white;">
            <td style="background-color: #ddd; padding: 5px; color:black;"><%= item.commodity %></td>
            <td style="background-color: #ddd; padding: 5px; color:black;"><%= item.additionrequired %></td>
            <td style="background-color: #ddd; padding: 5px; color:black;">
              <%- new Date(item.timestamp).toLocaleDateString('en-US', {
                weekday: 'short',  // Display abbreviated weekday (e.g., Mon)
                year: 'numeric',    // Display full year (e.g., 2024)
                month: 'long',      // Display full month name (e.g., May)
                day: 'numeric'     // Display numeric day (e.g., 9)
            }) %> 
            </td>
            <td style="background-color: #ddd; padding: 5px; color:black;"><%= item.expecton %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    <% } else if (!campReq && campReq.length) { %>
      <p>No data found.</p>
    <% } %>

<br><br>

<h1>Send</h1>

    <% if (campSend && campSend.length) { %>
      <table style="font-size: 1.6em;">
        <thead>
          <tr style="color:black;">
            <th style="background-color: #ddd; padding: 5px;">commodityno</th>
            <th style="background-color: #ddd; padding: 5px;">commodity</th>
            <th style="background-color: #ddd; padding: 5px;">quantity</th>
            <th style="background-color: #ddd; padding: 5px;">unit</th>
            <th style="background-color: #ddd; padding: 5px;">date</th>
            <th style="background-color: #ddd; padding: 5px;">sendto</th>
            <th style="background-color: #ddd; padding: 5px;">status</th>
          </tr>
        </thead>
        <tbody>
          <% for (const item of campSend.reverse()) { %>
          <tr class="stock-row" style="color: white;">
            <td style="background-color: #ddd; padding: 5px; color:black;"><%= item.commodityno %></td>
            <td style="background-color: #ddd; padding: 5px; color:black;"><%= item.commodity %></td>
            <td style="background-color: #ddd; padding: 5px; color:black;"><%= item.quantity %></td>
            <td style="background-color: #ddd; padding: 5px; color:black;"><%= item.unit %></td>
            <td style="background-color: #ddd; padding: 5px; color:black;">
              <%- new Date(item.date).toLocaleDateString('en-US', {
                weekday: 'short',  // Display abbreviated weekday (e.g., Mon)
                year: 'numeric',    // Display full year (e.g., 2024)
                month: 'long',      // Display full month name (e.g., May)
                day: 'numeric'     // Display numeric day (e.g., 9)
            }) %> 
            </td>
            <td style="background-color: #ddd; padding: 5px; color:black;"><%= item.sendto %></td>
            <td style="background-color: #ddd; padding: 5px; color:black;"><%= item.status %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    <% } else if (!campSend && campSend.length) { %>
      <p>No data found.</p>
    <% } %>

    <br>
    <footer class="page-footer">
        <br><br><br><br><br><br>
    <p> </p>
    </footer>


  </div>

</body>
</html>
